$primary-color: #27ad6c;
$warm-grey: #9b9b9b;

.card {
  display: flex;
  flex-direction: column;
  width: 25%;

  .card-img img {
    width: 100%;

    object-fit: contain;
  }
  h5 {
    font-size: 1.2rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: $primary-color;
  }
  .card-info p {
    font-size: 0.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: $warm-grey;
  }
}
@media (max-width: 800px) {
  .card {
    h5 {
      font-size: 0.8rem;
      line-height: 1;
    }
    .card-info p {
      font-size: 0.7rem;
      line-height: 1;
    }
  }
}
@media (max-width: 575.98px) {
  .card {
    justify-content: center;
    align-items: center;
    width: 80%;

    .card-img img {
      object-fit: contain;
    }
    h5 {
      font-size: 1rem;
    }
    .card-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-size: 0.7rem;
        line-height: 1;
        text-align: center;
        width: 50%;
      }
    }
  }
}
@media (max-width: 400px) {
  .card {
    .card-img img {
    }

    h5 {
      font-size: 0.8rem;
    }
    .card-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      margin-left: none;

      p {
        font-size: 0.5rem;
        line-height: 1;
        text-align: center;
      }
    }
  }
}
