$main-dark: #0f1110;
$main-white: #ffffff;
$grey-white: rgba(255, 255, 255, 0.7);
$primary-color: #27ad6c;

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  background: #222222;
  padding: 0 5rem;

  .footer-links {
    ul {
      display: flex;
      flex-direction: row;
      place-items: center;
      justify-content: space-between;
      text-decoration: none;
      list-style: none;
      li a {
        color: rgba(255, 255, 255, 0.5);
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        margin-right: 0.5rem;
        font-weight: 400;
        letter-spacing: 2px;
        font-size: 0.9rem;
        transition: all 0.5s ease-in-out;
        margin-right: 2rem;
        &:hover,
        &:active {
          color: $primary-color;
        }
      }
    }
  }
}

.copyright {
  p {
    color: rgba(255, 255, 255, 0.5);
    text-transform: capitalize;
  }
}
