$warm-grey: #9b9b9b;

.gallery {
  .title {
    h2 {
      font-size: 3.5rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      color: $warm-grey;
      margin: 2rem;
    }
    p {
      font-style: italic;
      color: $warm-grey;
      font-weight: normal;
      font-stretch: normal;
      font-style: italic;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      margin-bottom: 3rem;
    }
  }
  .img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;

    img {
      width: 33.3333333333%;
      height: 300px;
    }
  }
}

@media (max-width: 575.98px) {
  .gallery {
    .title {
      h2 {
        font-size: 2rem;
        margin: 2rem 0 0 0;
      }
      p {
        font-size: small;
        margin-bottom: 0.5rem;
      }
    }
    .img-container {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: center;
      flex-wrap: wrap;
      img {
        height: 200px;
        width: 50%;
      }
    }
  }
}

@media (max-width: 400px) {
  .gallery {
    .title {
      h2 {
        font-size: 2rem;
        margin: 2rem 0 0 0;
      }
      p {
        font-size: small;
        margin-bottom: 0.5rem;
      }
    }
    .img-container {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: center;
      flex-wrap: wrap;
      img {
        height: 200px;
        width: 95%;
      }
    }
  }
}
