$main-dark: #0f1110;
$main-white: #ffffff;
$grey-white: rgba(255, 255, 255, 0.7);
$primary-color: #27ad6c;

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  padding: 1rem 3rem;
  font-size: 1rem;
  background: $main-dark;
  opacity: 0.7;

  .nav-logo {
    display: flex;
    align-items: center;

    img {
      height: 30px;
    }
  }

  .hamburger__menu {
    height: 40px;
    cursor: pointer;
    display: none;
    background-color: $primary-color;
  }

  ul {
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    li a {
      color: $main-white;
      text-transform: capitalize;
      display: inline-block;
      font-weight: bold;
      margin-right: 0.5rem;
      font-weight: 400;
      letter-spacing: 2px;
      font-size: 1.2rem;
      padding: 0.25rem 0.5rem;
      text-decoration: none;
      transition: all 0.5s ease-in-out;
      &:hover,
      &:active {
        color: $primary-color;
      }
    }
  }
}
@media (max-width: 1200px) {
  .navbar {
    height: 15vh;
  }
}

@media (max-width: 600px) {
  .openNav {
    display: none !important;
  }
  .navbar {
    position: relative;
    padding: 1rem;
    font-size: 0.8rem;

    .hamburger__menu {
      position: absolute;
      top: center;
      right: 2rem;
      display: block;
    }

    ul {
      flex-direction: column;

      text-align: right;

      margin-top: 30vh;
      margin-right: 1rem;

      background: $primary-color;
      li a {
        text-transform: uppercase;
        &:hover {
          color: $main-dark;
          transition: all 1s ease-in-out;
        }
      }
    }

    .nav-logo {
      img {
        margin: 1rem;
        height: 1.5rem;
      }
    }
  }
}
@media (max-width: 375px) {
  .navbar {
    height: 10%;
    overflow: hidden;

    .nav-logo {
      margin: 0;
      padding: 0;
      height: 1rem;
    }
  }
}

.openNav {
  display: block !important;
}
.closeNav {
  display: none;
}
