$main-dark: #0f1110;
$main-white: #ffffff;
$grey-white: rgba(255, 255, 255, 0.7);
$primary-color: #27ad6c;

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  background-color: $main-dark;
  padding: 3.5rem;
  font-size: 1rem;

  .nav-logo {
    display: flex;
    align-items: center;

    img {
      height: 2rem;
    }
  }
  .nav-links {
    ul {
      display: flex;
      flex-direction: row;
      place-items: center;
      justify-content: space-between;
      list-style: none;
      text-decoration: none;
      transition: all 0.5s ease-in-out;
      li a {
        color: $main-white;
        text-transform: capitalize;
        display: inline-block;
        font-weight: bold;
        margin-right: 0.5rem;
        font-weight: 400;
        letter-spacing: 2px;
        font-size: 1.2rem;
        padding: 0.25rem 0.5rem;
        text-decoration: none;
        transition: all 0.5s ease-in-out;
        &:hover,
        &:active {
          color: $primary-color;
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .navbar {
    padding: 1rem;
    font-size: 0.8rem;
    .nav-logo {
      img {
        height: 1.5rem;
      }
    }
  }
}
