$main-dark: #0f1110;
$main-white: #ffffff;
$grey-white: rgba(255, 255, 255, 0.7);
$primary-color: #27ad6c;

.navbar {
  display: flex;

  justify-content: space-between;
  align-items: center;
  height: 20vh;
  padding: 1em 3em;
  font-size: 1rem;
  background: transparent;
  opacity: 0.7;

  .nav-logo {
    img {
      height: 30px;
    }
  }

  .hamburger__menu {
    height: 2.3em;
    cursor: pointer;
    display: none;
    background-color: $primary-color;
  }

  ul {
    display: flex;

    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    transition: all 0.5s ease-in-out;

    li a {
      color: $main-white;
      text-transform: capitalize;
      display: inline-block;
      font-weight: bold;
      margin-right: 0.5rem;
      font-weight: 400;
      letter-spacing: 2px;
      font-size: 1.2rem;
      padding: 0.15em 0.3em;
      text-decoration: none;
      transition: all 0.5s ease-in-out;
      &:hover,
      &:active {
        color: $primary-color;
      }
    }
  }
}

.search--icon {
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  &:hover {
    color: $primary-color;
    transition: all 0.5s ease-in-out;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 600px) {
  .navbar {
    position: relative;
    padding: 1em;
    font-size: 0.8rem;

    .hamburger__menu {
      position: absolute;
      top: center;
      right: 2em;
      display: block;
    }

    ul {
      flex-direction: column;

      text-align: left;

      background: $primary-color;
      li a {
        text-transform: uppercase;
        &:hover {
          color: $main-dark;
          transition: all 1s ease-in-out;
        }
      }
    }

    .nav-logo {
      img {
        margin: 1rem;
        height: 1.5rem;
      }
    }
  }
}
@media (max-width: 375px) {
  .navbar {
    .nav-logo {
      height: 1rem;
    }
  }
}

.openNav {
  display: block !important;
}
.closeNav {
  display: none;
}
