$main-white: #ffffff;
$grey-white: rgba(255, 255, 255, 0.7);
$primary-color: #27ad6c;
$warm-grey: #9b9b9b;
$greyish-brown: #423633;

.news {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .separator {
    position: absolute;
    width: 1px;
    height: 21.5625rem;
    background-color: #88c542;
  }
  .card {
    h5 {
      margin-bottom: 1.2rem;
    }
    ul {
      .hr-separator {
        border-top: 1px solid $primary-color;
        opacity: 0.2;
        margin-bottom: 1.2rem;
      }
      li {
        text-decoration: none;
        list-style-type: none;
        margin-bottom: 1.5rem;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $primary-color;
      }
    }
  }
  h5 {
    font-size: 3rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $warm-grey;
    text-transform: capitalize;
  }
}

.news-wrapper {
  overflow: hidden;
  height: 80vh;
  padding: 5rem;
}

.separator-logo {
  margin-top: 4rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  img {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
  }
}

.hr-small {
  width: 7rem;
  margin: 2rem;
  border-top: 1px solid $primary-color;
}
