$greyish-brown: #423633;
$primary-color: #27ad6c;
$main-white: #ffffff;
$grey-white: rgba(255, 255, 255, 0.7);

.services {
  background: $greyish-brown;
  color: white;
  padding: 6rem 1rem;

  .services-title h2 {
    font-size: 3rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
  }

  .service-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.service-btn {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 5%;
}

.btn-primary {
  padding: 1.5rem 3rem;
  border: none;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.9);
  background-color: $primary-color;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $main-white;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;

  &:hover {
    color: $primary-color;
    background-color: $main-white;
  }
}

@media (max-width: 575.98px) {
  .services {
    .services-title h2 {
      font-size: 1.5rem;
      padding-top: 3rem;
      margin-bottom: 3rem;
    }
    .service-card-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    .btn-primary {
      font-size: 1rem;
    }
  }
}
