$greyish-brown: #423633;
$primary-color: #27ad6c;
$main-white: #ffffff;
$grey-white: rgba(255, 255, 255, 0.7);

.services {
  height: 100vh;
  background: $greyish-brown;
  color: white;

  .service-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 28%;
    padding: 1rem 4rem;
  }
  .services-title h2 {
    font-size: 3rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    padding-top: 5rem;
    margin-bottom: 4rem;
  }

  .service-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.btn-primary {
  width: 192px;
  height: 67px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.9);
  background-color: $primary-color;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $main-white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  margin: 3rem auto;

  &:hover {
    color: $primary-color;
    background-color: $main-white;
  }
}

@media (max-width: 575.98px) {
  .services {
    .services-title h2 {
      font-size: 1.5rem;
      padding-top: 3rem;
      margin-bottom: 3rem;
    }
    .service-card-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}
