@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$primary-color: #27ad6c;
$secondary-color: #70c919;
$main-white: #ffffff;
$grey-white: rgba(255, 255, 255, 0.7);
$main-dark: #0f1110;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.App {
  height: 100vh;
}
